@import  "lib/_variables.styl"
@import  "lib/_mixins.styl"
@import  "lib/_functions.styl"

@import  "layout/_site.styl"
@import  "layout/_blocks.styl"

@import  "base/_links.styl"
@import  "base/_buttons.styl"
@import  "base/_typography.styl"
@import  "base/_tables.styl"

@import  "components/_grid.styl"
@import  "components/_utilities.styl"

.pseudoelement
    font-size: font-size-normal
    width:300px
    &:before
        content:"hola"
    .ie-8 &
        &:before
            content:"ciao"
        img 
            margin-bottom 0

body, .redtext 
    color:red
    text-decoration:underline
    >.primerhijo
        margin-bottom: 24px
        font-size font-size-small

.btn
    background-color:pink
    border-radius: 2px
    &--alert
        background-color:red

.btn--alert
    background-color:red

p
    font-size font-size-paragraph